In [6]:
#SQLAlchemy way:
import pandas as pd
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///country_club.sqlite')
#wait where do we put in the file name? up here^? should it be:
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
connection = engine.connect()
#or do sqlite3.connect('sqlite_db_pythonsqlite.db')?
query = 'SELECT facility, SUM(total_cost) AS revenue FROM (SELECT firstname, surname, Facilities.name AS facility, CASE WHEN memid = 0 THEN "guest"ELSE "member" END AS person_type, CASE WHEN memid = 0 THEN guestcost*slots ELSE membercost*slots END AS total_cost FROM Bookings JOIN Members USING(memid) JOIN Facilities USING(facid)) AS total_cost_per_booking GROUP BY facility HAVING SUM(total_cost) < 1000 ORDER BY SUM(total_cost) DESC'
results = con.execute(query)
#check for table names
table_names = engine.table_names()
print(table_names)
df = pd.read_sql_query(query, connection)
df

['Bookings', 'Facilities', 'Members']

/var/folders/cr/9gwdd0wn43d9d1db4xfhyvpc0000gn/T/ipykernel_24771/327142001.py:12: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

        facility  revenue
0     Pool Table      270
1  Snooker Table      240
2   Table Tennis      180